@*
*@
@page


@{

}

<h1>Market Basket анализ</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Lhs
            </th>
            <th>
                Rhs
            </th>
            <th>
                Frequency
            </th>
            <th>
                Support
            </th>
            <th>
                Confidence
            </th>
            <th>
                Lift
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.MarketBasket)
        {
            <tr>
                <td>
                    @item.Lhs
                </td>
                <td>
                    @item.Rhs
                </td>
                <td>
                    @item.Frequency
                </td>
                <td>
                    @item.Support
                </td>
                <td>
                    @item.Confidence
                </td>
                <td>
                    @item.Lift
                </td>
            </tr>
        }
    </tbody>
</table>



