@model CheckAnalysis.Models.DateData;
@*
*@
@{
}

<h1>Общие затраты</h1>
<h2>@ViewBag.AllCost</h2>
<h2>Средний чек</h2>
<h1>@ViewBag.AvgCheck</h1>

<body>
    @foreach (var px in ViewBag.Px)
    {
        <div class="bar" style="height: @px;"></div>
    }

<div>
@foreach(var item in ViewBag.Cost){
    <div class="bar">@item.Name</div>
}
</div>


@foreach (var item in ViewBag.Cost)
{
    <div class="month">
            <h3 class="month-value">@item.Name</h3>
            <h2 class="month-value">@item.Value</h2>
        <form method="post" asp-controller="CheckArray" asp-action="MonthInfo">
            <input class="input" type="hidden" value="@item.Name" asp-for="Name" />
            <input class="input" type="hidden" value="@item.FirstDate" asp-for="FirstDate" />
            <input class="input" type="hidden" value="@item.LastDate" asp-for="LastDate" />
                <input class="button month-value" type="submit" value="Больше информации" />
        </form>
    </div>
}
</body>



