@model CheckAnalysis.Models.ItemData;
@*
*@
@{

}

<h1>@ViewBag.Item.name</h1>
<h2>@ViewBag.Sum</h2>
<h2>Среднее кол-во товара на чек</h2>
<h3>@ViewBag.AvgProduct</h3>

<form method="post" asp-controller="CheckArray" asp-action="ProductList">
    <input class="input" type="hidden" value="@ViewBag.Item.name" asp-for="name" />
    <input class="button" type="submit" value="Больше информации" />
</form>

@foreach (var item in ViewBag.SumOfMonth)
{
    <div class="month">
        <h3>@item.Name</h3>
        <h2>@item.Value</h2>
    </div>
}
